html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.wrapper {
    max-width: 940px;
    margin: 0 auto;
}

/* SITE-NAVIGATION */


.nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 65px;

}

.logo_text {
    color:rgb(0, 0, 0);
    font: 400 26px "Wisdom - Script", sans-serif;
    text-decoration: none;
    line-height: 41px;

}

.nav_list {

    min-width: 490px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav_list_item {
    display: inline-flex;

}

.nav_list_item:not(:last-child) {
    margin-right: 57px;
}

.nav_list a {
    display: block;
    color: rgb(0, 0, 0);
    font: 700 14px 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 41px;
    transition: color 200ms linear;
}

.logo_text:hover,
.logo_text:focus {
    color: rgb(254, 209, 54);
}

.list_link:hover,
.list_link:focus {
  color: rgb(254, 209, 54);
}


/* SECTION HEAD */
.product_section {
    padding-bottom: 86px;}


.section_begin {
    margin: 0 auto;
    font: 700 40px 'Montserrat', cursive;
    color: rgb(34, 34, 34);
    line-height: 75px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 125px;    
}

.section_head {
    margin: 0 auto;
    padding: 0;
    color: rgb(119, 119, 119);
    font: 300 16px 'Droid Serif', sans-serif;
    text-align: center;
    padding-bottom: 80px;
}

/* SERVICES*/
.list_services {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}

.list_srevices_item {
    list-style: none;
}
.named_services {
    margin: 0 auto;
 
    font: 700 18px 'Montserrat', sans-serif;
    line-height: 75px;
    color: rgb(34, 34, 34);
    text-align: center;   
}

.descript_services {
    color: rgb(153, 153, 153);
    font: 400 14px "Roboto Slab", sans-serif;    
    margin: 0 auto;
    padding: 0;
    text-align: center;
    line-height: 24px;
}

.list_srevices_item::before {
    display: block;
    width: 67px;
    height: 67px;
    content: "";
    border: 3px solid #fed136;
    border-radius: 50%;
    margin: 0 auto;
    
}

.icon_backet::before {
    background-image: url(../img/Icon-Basket.png);
    background-repeat: no-repeat;
    background-position: center;
}

.icon_laptop::before {
    background-image: url(../img/Icon-Laptop.png);
    background-repeat: no-repeat;
    background-position: center;
}

.icon_locked::before {
    background-image: url(../img/Icon-Locked.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* FORM */
.section_form {
    background-image: url(../img/Map\ Image.jpg);
    min-height: 676px;
    
}
.form_block {
    margin: 0 auto;
    
}
.form_head {
    font: 700 40px 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px;
    margin: 0 auto;
}
.form_text {
    font: 300 16px "DroidSerif";
    font-style: italic;
    line-height: 1.2;
    color: rgb(119, 119, 119);
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 70px;
}
  

.form_message {
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form_list {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 30px;   
}
.form_list_item:not(:last-child) {
    margin-bottom: 30px;
}

.text_form {
    /* display: inline-block; */
    font: 500 14px "Montserrat", sans-serif;
    text-transform: uppercase;    
    margin: 0;
    padding: 0;
    height: 40px;
    padding-left: 5px;
    color: rgba(187, 187, 187);
    background-color: rgb(255, 255, 255);
    width: 455px;
    height: 50px;
    border: none;
    border-radius: 2px;
    }

    .text_form[type="text"], [type="email"]
    {padding-left: 10px;}
    .text_message[placeholder="Your message*"] {
        padding: 20px 0 0 20px;
    }


.text_message {
    /* display: inline-block; */
    font: 500 14px "Montserrat", sans-serif;
    text-transform: uppercase;    
    margin: 0;
    padding: 0;   
    padding-left: 5px;
    color: rgba(187, 187, 187);
    background-color: rgb(255, 255, 255);
    width: 455px;
    height: 210px;
    border: none;
    border-radius: 2px;
    resize: none;    
}
.text_form,
.text_message {
    box-shadow: 2px 2px 4px rgba(153, 153, 153, 0.5),
    -2px -2px 4px rgba(153, 153, 153, 0.5),
    -2px 2px 4px rgba(153, 153, 153, 0.5),
    2px -2px 4px rgba(153, 153, 153, 0.5);

}


.sent_button {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 240px;
    height: 66px;
    border: none;
    background-color: rgb(254, 209, 54);
    font: 700 14px 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    transition: transform 200ms linear;
    border-radius: 2px;
    margin-top: 30px;

}

.sent_button:hover {
    transform: scale(1.1);
}
  
.clearfix::after {
    display: table;
    content: "";
    clear: both;
}