html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", "Pe-icon-7-stroke"sans-serif;
    color: #555252;
    font-size: 14px;
    line-height: 11px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.wrapper {
    max-width: 1200px;
    margin: 0 auto;

}

/* SITE-NAVIGATION */


.nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 65px;

}

.logo_text {
    color: rgb(149, 225, 211);
    font: 700 30px 'Montserrat', sans-serif;
    text-decoration: none;
    line-height: 32px;

}

.logo {
    animation: logo-wake 0.5s linear;
}

@keyframes logo-wake {
    0% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(0);
    }
}

.nav_list {

    min-width: 490px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav_list_item {
    display: inline-flex;

}

.nav_list_item:not(:last-child) {
    margin-right: 57px;
}

.nav_list a {
 
    color: rgb(149, 225, 211);
    margin: 0 auto;
    font: 500 14px 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 11px;
    transition: color 200ms linear;
}

.list_link:after {
    display: block;
    margin-top: 5px;
    content: "";
    height: 2px;
    width: 0%;
    background-color: rgb(243, 129, 129);
    ;
    transition: width .3s ease-in-out;
}

.list_link:hover::after,
.list_link:focus::after {
    width: 100%;
}

.list_link:hover,
.list_link:focus {
    color: rgb(243, 129, 129);
}


/* SECTION HEAD */
.service_section {
    margin: 0 auto;
    padding-bottom: 90px;
}

.team_section {
    margin: 0 auto;
    padding-bottom: 70px;
}



.section_begin {
   
    margin: 0 auto;
    font: 300 24px 'Kaushan Script', cursive;
    color: rgb(51, 51, 51);
    text-align: center;
    padding-bottom: 22px;
}

.section_head {
    margin: 0 auto;
    padding: 0;
    color: rgb(51, 51, 51);
    font: 700 30px 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 32px;
    text-align: center;
    padding-bottom: 93px;
}

.section_head::after {
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 3px;
    background-color: rgb(243, 129, 129);
    content: "";
    margin-top: 40px;

}

/* SERVICES*/
.list_services {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}

.list_srevices_item {
    margin: 0 auto;
    list-style: none;
    position: relative;
    width: 380px;
    padding-left: 82px;
}

.list_srevices_item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 100px;
}

.named_services {
    margin: 0 auto;
    font: 400 14px 'Montserrat', sans-serif;
    color: rgb(154, 154, 154);
    text-transform: uppercase;
    padding-bottom: 20px;
}

.descript_services {
    margin: 0 auto;
    color: rgb(153, 153, 153);
    font: 400 15px "Roboto", sans-serif;
    line-height: 24px;
}

.list_srevices_item::before {
    margin: 0 auto;
    display: block;
    width: 32px;
    height: 31px;
    content: "";
    position: absolute;
    left: 25px;
    top: 0;
}

.icon_clock::before {
    background-image: url(../img/icon/ALARM.png);
}

.icon_design::before {
    background-image: url(../img/icon/LINE_GRAPH.png);
}

.icon_creativity::before {
    background-image: url(../img/icon/_OK.png);
}

.icon_seo::before {
    background-image: url(../img/icon/BOOK_2.png);
}

.icon_css::before {
    background-image: url(../img/icon/HOME.png);
}

.icon_digital::before {
    background-image: url(../img/icon/IMAGE.png);
}


/* TEAM */
.head_text {
    color: rgb(153, 153, 153);
    font: 400 15px "Roboto", sans-serif;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 92px;
}

.list_team {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.list_team_item {
    margin: 0 auto;
    list-style: none;
    position: relative;
    width: 380px;
}

.named_member {
    margin: 0 auto;
    font: 400 14px 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

.member_position {
    margin: 0 auto;
    font: 400 15px "Roboto", sans-serif;
    color: rgb(153, 153, 153);
    text-align: center;
    padding-bottom: 15px;

}

/* ANOTHER WINDOW */

.icon_effect {

    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    left: -10px;
    top: -10px;
    width: 380px;
    height: 470px;
    z-index: 2;    
    opacity: 0;
    transition: color 200ms linear;
    transition: opasity 200ms linear;
}
.mattew {
    background-image: linear-gradient( 0deg,rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
    url(../img/Layer_16.png);
    position: absolute;
    z-index: 3; 
}

.cristoph {
    background-image: linear-gradient( 0deg,rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
    url(../img/Layer\ 19.png);
    position: absolute;
    z-index: 3; 
}
.michael {
    background-image: linear-gradient( 0deg,rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
    url(../img/Layer\ 18.png);
    position: absolute;
    z-index: 3; 
}



.icon_effect_list {
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    align-items: center;

}


.icon_effect_item {
    display: flex;
    width: 56px;
    height: 56px;
    background-color: rgb(252, 227, 138);
    align-items: center;
    transition: color 200ms linear;
    margin: 0 auto;
    cursor: pointer;

}

.social_media::after {
    content: '';
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
}

.with_fb::after {
    margin-left: 23px;
    background-image: url(../img/icon/facebook.png);
    width: 12px;
    height: 26px;
}

.with_twitt::after {
    margin-left: 15px;
    background-image: url(../img/icon/twitter.png);
    width: 26px;
    height: 26px;
}

.with_pn::after {
    margin-left: 15px;
    background-image: url(../img/icon/pinterest.png);
    width: 26px;
    height: 26px;
}

.with_inst::after {
    margin-left: 15px;
    background-image: url(../img/icon/instagram.png);
    width: 26px;
    height: 26px;
}

.icon_effect_item:not(:last-child) {
    margin-right: 1px;
}

.background_list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 380px;
    height: 470px;
    background-color: rgb(149, 225, 211);
    opacity: 0;
    transition: opacity 200ms linear;
}

/* HOVER */

.list_team_item:hover {
    box-shadow: 5px 5px 10px rgba(153, 153, 153, 0.5),
        -5px -5px 10px rgba(153, 153, 153, 0.5),
        -5px 5px 10px rgba(153, 153, 153, 0.5),
        5px -5px 10px rgba(153, 153, 153, 0.5);
    border-radius: 5px;
}

.list_team_item:hover .background_list {
    opacity: 1;
}

.icon_effect_item:hover {
    background-color: rgb(149, 225, 211);
}

.list_team_item:hover .icon_effect {
    opacity: 1;
}


/* FOOTER */

.footer_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 12px;
}

.footer_text {
    font: 300 16px "Roboto", sans-serif;
    line-height: 28px;
    margin: 0;

}

.named_designed {
    color: rgb(243, 129, 129);
}

.text_form,
.sent_button {
    min-height: 40px;
    margin: 0 auto;
}

.form_mail {
    display: flex;
    margin-top: 10px;
    margin: 0;
}

.text_form {
    font: 300 15px "Roboto", sans-serif;
    line-height: 24px;
    opacity: 0.5;
    border: 1px solid rgba(204, 204, 204, 0.5);
    margin: 0;
    padding: 0;
    height: 40px;
    padding-left: 5px;
   
}

.sent_button {
    margin: 0;
    padding: 0;
    width: 150px;
    height: 40px;
    border: none;
    background-color: rgb(149, 225, 211);
    font: bold 14px 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    transition: box-shadow 200ms linear;
}

.sent_button:hover {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.39);
    transform: scale(1.1);
}