/* TABLET */

@media (max-width: 767px) {
  .people_list_item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width:768px) and (max-width: 991px) {
  .people_list_item {
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {

  .justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }

  .flex-row-reverse {
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
  }

  .align-items-baseline {
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }

  .justify-content-end {
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }

  .nav_button_in,
  .nav_button_up {
    margin: 0;
  }

  .nav_button_in {
    margin-right: 5px;
  }

  .logo {
    margin: 0;
    text-align: center;
    padding: 0;
  }




  .people_list_item:nth-of-type(1) {
    order: 1;
  }

  .people_list_item:nth-of-type(2) {
    order: 3;
  }

  .people_list_item:nth-of-type(3) {
    order: 2;
  }

  .people_list_item:nth-of-type(4) {
    order: 4;
  }