
.header-block {  
    
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%,
      rgba(243, 129, 129, 0.9) 100%),
     url(../images/Layer_15.png); 
     color: $primary-white-color;
    
 }
 .main-header {
     padding-top: 30px;
     padding-bottom: 230px;
     min-height: 1000px;
     display: flex;
             flex-direction: column;
             justify-content: space-between;
 }

.header-head__text {

    font: 400 72px "Kaushan Script", sans-serif; 
    line-height: 1.2;
    margin: 0;
    text-align: center;
    margin-bottom: 65px;
    }
    .header-head__title { 
    font-size: 150px;
    font-weight: 700;
    line-height: 140px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 50px;
    margin: 0;
    
    }
  .header-head__link {   
        @extend %link;     
        margin: 0 auto;     
        color: $primary-white-color;
        width: 160px;
    height: 40px;
    border: 3px solid $primary-white-color;
    font: 700 14px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
    transition: transform 200ms linear;
    &:hover {
      transform: scale(1.1);
            box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 
    0 5px 5px rgba(0, 0, 0, 0.22);
  }  
}