.service {
  margin: 0 auto;
  padding-top: 46px;
  padding-bottom: 90px;
}

.service-block__text {
  padding-bottom: 22px;
}

.service-block__title {
  padding-bottom: 70px;

}

.service-block__list {
  @extend %list;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}

.service-block__item {
  margin: 0 auto;
  position: relative;
  width: 380px;
  padding-left: 82px;

  &:not(:nth-last-child(-n + 3)) {
    margin-bottom: 100px;
  }

  &::before {
    margin: 0 auto;
    display: block;
    width: 32px;
    height: 31px;
    content: "";
    position: absolute;
    left: 25px;
    top: 0;
  }

  &--icon_clock::before {
    background-image: url(../images/service-icons/service-photography.svg);

  }

  &--icon_design::before {
    background-image: url(../images/service-icons/service-web.svg);
  }

  &--icon_creativity::before {
    background-image: url(../images/service-icons/service-creativity.svg);
  }

  &--icon_seo::before {
    background-image: url(../images/service-icons/service-book.svg);
  }

  &--icon_css::before {
    background-image: url(../images/service-icons/service-home.svg);
  }

  &--icon_digital::before {
    background-image: url(../images/service-icons/service-digital.svg);

  }

}


.service-block__item .service-block__item-title {
  margin: 0 auto;
  font: 400 14px 'Montserrat', sans-serif;
  color: $main-text-color;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.service-block__item-text {
  margin: 0 auto;
  color: $main-text-color;
  font: 400 15px "Roboto", sans-serif;
  line-height: 24px;
}
