

.site-logo__link {
    @extend %link;
    color: $primary-white-color;
    font: 700 30px 'Montserrat', sans-serif;    
    line-height: 32px;

}

.site-logo {
    -webkit-animation: logo-wake 0.5s linear;
            animation: logo-wake 0.5s linear;
}

@-webkit-keyframes logo-wake {
    0% {
        -webkit-transform: translateY(-200px);
                transform: translateY(-200px);
    }

    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes logo-wake {
    0% {
        -webkit-transform: translateY(-200px);
                transform: translateY(-200px);
    }

    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}