html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #555252;
    font-size: 14px;
    line-height: 11px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;   
}

.clearfix::after {
    display: table;
    content: "";
    clear: both;
}

.wrapper {
    width: 1110px;
    margin: 0 auto;
        
}



/* SITE-NAVIGATION */
.main_header {
    padding-top: 42px;
    padding-bottom: 40px;
}

/* SLIDER */
.section_slider {
    height: 600px;    
background-image: url '../img/slide4.jpg';
background-repeat: no-repeat;
background-size: cover;
text-align: center;
}
.head_slider {
    text-transform: uppercase;
    font: 700 60px "Roboto", sans-serif;
    line-height: 82px;
}

.slider_list {
    list-style: none; 
}

.slider_item {    
    text-transform: uppercase;
    font: 300 24px "Roboto", sans-serif;
    line-height: 54px;
    text-decoration: none;}



/* LOGO */

.logo {
   display: inline-block;
   color: #000; 
}
.logo_text {
    display: block;
    color: #000;
    font: 300 30px "Roboto", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 32px;
}
.logo_text:hover,
.logo_text:focus {
    color: #1abc9c;
}
.logo_text::first-letter {
    color: #1abc9c;
    font-weight: 900;
}
/* LIST LOGO */
.nav_list {
    float: right;
    min-width: 475px;
    margin: 0;
    padding: 0;
    margin-top: 10px;   
    list-style: none;
}     
.nav_list_item {   
    display: inline-block;
}

.nav_list_item:not(:last-child) {
    margin-right: 35px;
}
.nav_list li {
    float: left;
}
.nav_list a {
    display: block;
    color: #000;
    font: bold 14px "Roboto", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 11px;
}
.list_link:hover,
.list_link:focus {
    color: #1abc9c;
}

/* PRODUCT */


.product_section {
    margin-bottom: 104px;
}
.section_head {
    margin: 0;
    padding: 0;
    color: #515151;
    font: bold 48px "Roboto", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 32px;
    text-align: center;
}

.section_head::after {
display: block;
margin: 0 auto;
width: 165px;
height: 7px;
background-color: #1abc9c;
content: "";
margin-top: 32px;
margin-bottom: 95px;
}
.list_products {
        margin: 0;
        padding: 0;
        list-style-type: none;
}
.products {
    float: left;;
    margin: 0;
    background-color: #e9f0fd;
    margin-bottom: 30px;    
}
.products:not(:last-child) {
    margin-right: 30px;}


.price_product,
.named_product {
    font: bold 18px "Roboto", sans-serif;
    text-transform: uppercase;
    line-height: 32px;
    margin: 0;
    padding: 0;
}
.named_product {
    float: left;
width: 224px;
background-color: #000;
color: #ffffff
}
.price_product {
    float: right;
    background-color:#8c8c8c;
    color: #ffffff;
    width: 31px;
}
.price_product::before {
    content: "\0024";
  }

.products:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }

.products:hover .named_product {
  background-color: #1abc9c; 
 }
.products:hover .price_product {
    background-color: #7fd9c7;   
}

/* FOOTER */
.page_footer {
    display: block;
    background-color: #323232;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;

}
.footer_text {
    font: 300 16px "Open Sans", sans-serif;
    line-height: 28px;
    padding: 36px;
}
.footer_text::selection {
  
    color: #1abc9c;
    font-weight: 900;
}
