$main-font-stack: "Roboto", "Montserrat", "Kaushan Script", sans-serif;

$primary-white-color: rgb(255, 255, 255);
$main-yellow-color:  rgb(252, 227, 138);    
$main-text-color: rgb(153, 153, 153);
$primary-text-color:  rgb(0, 0, 0);
$secondary-green-color:rgb(149, 225, 211);