.team {
    margin: 0 auto;
    padding-bottom: 70px;
}
.team-block__text {
    padding-bottom: 23px;
}
.team-block__title {
    padding-bottom: 51px;

}

.team-block__another-text {
    color: $main-text-color;
    font: 400 15px "Roboto", sans-serif;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    padding: 0 120px 92px;
}

.team-block__list {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}

.team-block__item {
    margin: 0 auto;
    position: relative;
    width: 380px;
}

.team-block__item-name {
    margin: 0 auto;
    font: 400 14px 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

.team-block__item-position {
    margin: 0 auto;
    font: 400 15px "Roboto", sans-serif;
    color: $main-text-color;
    text-align: center;
    padding-bottom: 15px;

}


/* ANOTHER WINDOW */

.icon-effect {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    left: -10px;
    top: -10px;
    width: 380px;
    height: 470px;
    z-index: 2;    
    opacity: 0;
    -webkit-transition: color 200ms linear;
    -o-transition: color 200ms linear;
    transition: color 200ms linear;
    -webkit-transition: opasity 200ms linear;
    -o-transition: opasity 200ms linear;
    transition: opasity 200ms linear;
}
.mattew {
    background-image: -webkit-gradient( linear,left bottom, left top,from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9))),
    url(../img/Layer_16.png);
    background-image: -o-linear-gradient( bottom,rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
    url(../img/Layer_16.png);
    background-image: linear-gradient( 0deg,rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
    url(../img/Layer_16.png);
    position: absolute;
    z-index: 3; 
}

.cristoph {
    background-image: -webkit-gradient( linear,left bottom, left top,from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9))),
    url(../img/Layer_19.png);
    background-image: -o-linear-gradient( bottom,rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
    url(../img/Layer_19.png);
    background-image: linear-gradient( 0deg,rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
    url(../img/Layer_19.png);
    position: absolute;
    z-index: 3; 
}
.michael {
    background-image: -webkit-gradient( linear,left bottom, left top,from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9))),
    url(../img/Layer_18.png);
    background-image: -o-linear-gradient( bottom,rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
    url(../img/Layer_18.png);
    background-image: linear-gradient( 0deg,rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
    url(../img/Layer_18.png);
    position: absolute;
    z-index: 3; 
}



.icon-effect__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;  
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

}


.icon-effect__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;   
    -webkit-box-align: center;   
        -ms-flex-align: center;   
            align-items: center;
    width: 56px;
    height: 56px;
    background-color: $main-yellow-color;
    cursor: pointer;
    -webkit-transition: color 200ms linear;
    -o-transition: color 200ms linear;
    transition: color 200ms linear;
    border-left: 1px solid rgb(243, 129, 129);
    -webkit-transition: color 300ms linear;
    -o-transition: color 300ms linear;
    transition: color 300ms linear;   
     
}
.icon-effect__link svg {
    width: 26px;
    height: 26px;
    fill:rgb(243, 129, 129);   
    -webkit-transition: fill 200ms linear;   
    -o-transition: fill 200ms linear;   
    transition: fill 200ms linear;   
   }

.icon-effect__link:hover  {
   
    background-color:rgb(243, 129, 129); 
}
.icon-effect__link:hover svg {
    fill: white;
}
.background_list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 380px;
    height: 470px;
    background-color: rgb(149, 225, 211);
    opacity: 0;
    -webkit-transition: opacity 200ms linear;
    -o-transition: opacity 200ms linear;
    transition: opacity 200ms linear;
}

/* HOVER */


.team-block__item:hover {
    -webkit-box-shadow: 5px 5px 10px rgba(153, 153, 153, 0.5),
        -5px -5px 10px rgba(153, 153, 153, 0.5),
        -5px 5px 10px rgba(153, 153, 153, 0.5),
        5px -5px 10px rgba(153, 153, 153, 0.5);
            box-shadow: 5px 5px 10px rgba(153, 153, 153, 0.5),
        -5px -5px 10px rgba(153, 153, 153, 0.5),
        -5px 5px 10px rgba(153, 153, 153, 0.5),
        5px -5px 10px rgba(153, 153, 153, 0.5);
    border-radius: 5px;
}

.team-block__item:hover .background_list {
    opacity: 1;
}

.icon-effect__item:hover {
    background-color: rgb(243, 129, 129);;
}

.team-block__item:hover .icon-effect {
    opacity: 1;
}

