html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat",sans-serif;
    color: #555252;
    font-size: 14px;
    line-height: 11px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    display: block;
    text-decoration: none;
    margin: 0;
    padding: 0;

}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
} 


.container {
    max-width: 1200px;
    margin: 0 auto;

}

/* HEADER */

.header-block {
   
   background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%,
     rgba(243, 129, 129, 0.9) 100%),
    url(../img/Layer_15.png); 
    color: rgb(255, 255, 255);

}
.main-header {
    padding-top: 30px;
    padding-bottom: 230px;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
   

}

.site-logo__link {
    color: rgb(255, 255, 255);
    font: 700 30px 'Montserrat', sans-serif;    
    line-height: 32px;

}

.site-logo {
    animation: logo-wake 0.5s linear;
}

@keyframes logo-wake {
    0% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(0);
    }
}

.nav-list {
    min-width: 490px;   
    display: flex;
    justify-content: space-between;
}

.nav_list__item {
    display: inline-flex;

}


.nav-list__link{ 
  color: rgb(255, 255, 255);
    margin: 0 auto;
    font: 400 14px 'Montserrat', sans-serif;
    text-transform: uppercase;   
    line-height: 1.2;
    transition: color 200ms linear;
}

.nav-list__link:after {
    display: block;
    margin-top: 5px;
    content: "";
    height: 2px;
    width: 0%;
    background-color: rgb(252, 227, 138);
    transition: width .3s ease-in-out;
}

.nav-list__link:hover::after,
.nav-list__link:focus::after {
    width: 100%;
}

.nav-list__link:hover,
.nav-list__link:focus {
   color: rgb(252, 227, 138);
}
 
.link__nav-icon {
    width: 18px;
    height: 18px;
    fill: white;
}

.link__nav-icon:hover {
fill: rgb(252, 227, 138);
}
.header-head__text {

font: 400 72px "Kaushan Script", sans-serif; 
line-height: 1.2;
margin: 0;
text-align: center;
margin-bottom: 65px;
}
.header-head__title { 
font-size: 150px;
font-weight: 700;
line-height: 140px;
text-transform: uppercase;
text-align: center;
padding: 0 50px;
margin: 0;

}
.header-head__link {
    
    margin: 0 auto;
 
    color: rgb(255, 255, 255);
    width: 160px;
height: 40px;
border: 3px solid #ffffff;
font: 700 14px;
text-transform: uppercase;
text-align: center;
padding-top: 10px;
transition: transform 200ms linear;


}
.header-head__link:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 
  0 5px 5px rgba(0, 0, 0, 0.22);
}

/* SECTION HEAD */
.service {
    margin: 0 auto;
    padding-top: 46px;
    padding-bottom: 90px;
}

.team {
    margin: 0 auto;
    padding-bottom: 70px;
}



.service-block__text {
   padding-bottom: 22px; 
}

.service-block__title {
    padding-bottom: 70px;
 
}


/* SERVICES*/
.service-block__list{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}

.service-block__item {
    margin: 0 auto;   
    position: relative;
    width: 380px;
    padding-left: 82px;
}

.service-block__item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 100px;
}

.service-block__item-title {
    margin: 0 auto;
    font: 400 14px 'Montserrat', sans-serif;
    color: rgb(154, 154, 154);
    text-transform: uppercase;
    padding-bottom: 20px;
}

.service-block__item-text {
    margin: 0 auto;
    color: rgb(153, 153, 153);
    font: 400 15px "Roboto", sans-serif;
    line-height: 24px;
}

.service-block__item::before {
    margin: 0 auto;
    display: block;
    width: 32px;
    height: 31px;
    content: "";
    position: absolute;
    left: 25px;
    top: 0;
}

.icon_clock::before {
    background-image: url(../img/icon_svg/ALARM.svg);
}

.icon_design::before {
    background-image: url(../img/icon_svg/LINE.svg);
}

.icon_creativity::before {
    background-image: url(../img/icon_svg/COMPUTER.svg);
}

.icon_seo::before {
    background-image: url(../img/icon_svg/BOOK.svg);
}

.icon_css::before {
    background-image: url(../img/icon_svg/HOME.svg);
}

.icon_digital::before {
    background-image: url(../img/icon_svg/01.svg);
}


/* TEAM */
.team-block__text {
    padding-bottom: 23px;
}
.team-block__title {
    padding-bottom: 51px;

}

.team-block__another-text {
    color: rgb(153, 153, 153);
    font: 400 15px "Roboto", sans-serif;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    padding: 0 120px 92px;
}

.team-block__list {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.team-block__item {
    margin: 0 auto;
    position: relative;
    width: 380px;
}

.team-block__item-name {
    margin: 0 auto;
    font: 400 14px 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
}

.team-block__item-position {
    margin: 0 auto;
    font: 400 15px "Roboto", sans-serif;
    color: rgb(153, 153, 153);
    text-align: center;
    padding-bottom: 15px;

}


/* ANOTHER WINDOW */

.icon-effect {

    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    left: -10px;
    top: -10px;
    width: 380px;
    height: 470px;
    z-index: 2;    
    opacity: 0;
    transition: color 200ms linear;
    transition: opasity 200ms linear;
}
.mattew {
    background-image: linear-gradient( 0deg,rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
    url(../img/Layer_16.png);
    position: absolute;
    z-index: 3; 
}

.cristoph {
    background-image: linear-gradient( 0deg,rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
    url(../img/Layer_19.png);
    position: absolute;
    z-index: 3; 
}
.michael {
    background-image: linear-gradient( 0deg,rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
    url(../img/Layer_18.png);
    position: absolute;
    z-index: 3; 
}



.icon-effect__list {
    display: flex;  
    margin: 0 auto;
    align-items: center;

}


.icon-effect__link {
    display: flex;
    justify-content: center;   
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: rgb(252, 227, 138);
    cursor: pointer;
    transition: color 200ms linear;
    border-left: 1px solid rgb(243, 129, 129);
    transition: color 300ms linear;   
     
}
.icon-effect__link svg {
    width: 26px;
    height: 26px;
    fill:rgb(243, 129, 129);   
    transition: fill 200ms linear;   
   }

.icon-effect__link:hover  {
   
    background-color:rgb(243, 129, 129); 
}
.icon-effect__link:hover svg {
    fill: white;
}
.background_list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 380px;
    height: 470px;
    background-color: rgb(149, 225, 211);
    opacity: 0;
    transition: opacity 200ms linear;
}

/* HOVER */


.team-block__item:hover {
    box-shadow: 5px 5px 10px rgba(153, 153, 153, 0.5),
        -5px -5px 10px rgba(153, 153, 153, 0.5),
        -5px 5px 10px rgba(153, 153, 153, 0.5),
        5px -5px 10px rgba(153, 153, 153, 0.5);
    border-radius: 5px;
}

.team-block__item:hover .background_list {
    opacity: 1;
}

.icon-effect__item:hover {
    background-color: rgb(243, 129, 129);;
}

.team-block__item:hover .icon-effect {
    opacity: 1;
}


/* FOOTER */

.footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    padding-top: 12px;
    padding-bottom: 12px;
}

.footer-block__text {
    font: 300 16px "Roboto", sans-serif;
    line-height: 28px;
    margin: 0;

}

.footer-block__text-color {
    color: rgb(243, 129, 129);
}

.footer-block--form__text,
.footer-block--form__bt {
    min-height: 40px;
    margin: 0 auto;
}

.footer-block--form {
    display: flex;
    margin-top: 10px;
    margin: 0;
}

.footer-block--form__text {
    font: 300 15px "Roboto", sans-serif;
    line-height: 24px;
    opacity: 0.5;
    border: 1px solid rgba(204, 204, 204, 0.5);
    margin: 0;
    padding: 0;
    height: 40px;
    padding-left: 5px;
   
}

.footer-block--form__bt {
    margin: 0;
    padding: 0;
    width: 150px;
    height: 40px;
    border: none;
    background-color: rgb(149, 225, 211);
    font: bold 14px 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    transition: box-shadow 200ms linear;
}

.footer-block--form__bt:hover {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.39);
    transform: scale(1.1);
}
@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .mattew {
        background-image: linear-gradient( 0deg,rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
        url(../img/Layer_16@2x.png);
        background-size: contain;
     
    }
    
    .cristoph {
        background-image: linear-gradient( 0deg,rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
        url(../img/Layer_19@2x.png);
     background-size: contain;
    }
    .michael {
        background-image: linear-gradient( 0deg,rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
        url(../img/Layer_18@2x.png);
     background-size: contain;
     background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%,
     rgba(243, 129, 129, 0.9) 100%),
    url(../img/Layer_15@2x.png); 
    }
    
}

.text {
    font: 300 24px 'Kaushan Script', cursive;
    color: rgb(51, 51, 51);
    text-align: center;
    margin: 0;
}

.title {
margin: 0;

    color: rgb(51, 51, 51);
    font: 700 30px 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 32px;
    text-align: center;
}


.title::after {
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 3px;
    background-color: rgb(243, 129, 129);
    content: "";
    margin-top: 40px;
   

}
